[submodule "buildscripts"]
	path = buildscripts
	url = https://github.com/MonoGame/MonoGame.Library.BuildScripts.git
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/kcat/openal-soft.git
